modules = ["nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40715
externalPort = 3000

[[ports]]
localPort = 43085
externalPort = 3001

[[ports]]
localPort = 43535
externalPort = 3002

